<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>辈出网，更懂你的智能管家</title>
    <link rel="shortcut icon" href="static_c/img/beichoo.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static_c/css/reset.css" />
</head>
<body>
<div id="init"></div>
<script src="static_c/lib/zhugeio.js"></script>
<script src="static_c/lib/sha1.js"></script>
<script src="static_c/lib/download/doc.js"></script>
<script src="static_c/lib/download/file-saver.min.js"></script>
<script src="static_c/lib/download/jszip-utils.js"></script>
<!--[if IE]>
<script src="static_c/lib/download/jszip-utils-ie.js"></script>
<![endif]-->
<script src="static_c/lib/download/zip.js"></script>
<script type="text/javascript" src="static_c/lib/plupload-2.1.2/js/plupload.full.min.js?v=1.0.0"></script>

</body>
</html>