.taskCon{

    width:100%;
    height:95px;
    background-color: #FFFFFF;
}

.taskTitle{

    color: rgb(174, 230, 63);
    padding-left: 5px;
    padding-top: 5px;

}

.taskLeft{

    width:70%;
    float: left;
    display: inline-block;
    margin-left: 15px;
    margin-top: 15px;
}



.taskLine {

    display: inline-block;
}

.taskItem{

    height: 30px;
}

.taskItem .taskLine:first-child{

    width:40%;
}

.lineTitle{

    font-weight: 700;
}

.taskRight{

    float: left;

    text-align: center;
    padding-left: 30px;
    border-left: 1px dotted #464141;
}


.taskRight p{

    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px;
}

.startTask{

    background-color:rgb(174, 230, 63);
    border: none;
    border-radius: 5px;
    height: 25px;
}

.startTask:hover{

    cursor: pointer;
}

.hrCon{

    width:100%;
    background: #ffffff;
}

.infoItem{

    display: inline-block;
    width: 50%;
}

.hrTitle{

    color: rgb(174, 230, 63);
    padding-left: 5px;
    padding-top: 5px;

}

.hrContentCon{

    margin-top: 15px;
    margin-left: 15px;
}


.infoLine{

    padding-bottom: 10px;
}

.hrConTitle{

    font-weight: 700;
}

.posCon{

    width:100%;
    background: #ffffff;
    position: relative;
}
.posTitle{
    color: rgb(174, 230, 63);
    padding-left: 5px;
    padding-top: 5px;

}

.checkTitle{

    margin-left: 212px;
}

.posLine{

    min-height: 30px;
    line-height: 30px;
    border-bottom: 1px dotted #cccccc;

}
.posContentCon{

    margin-left: 15px;
    margin-top: 15px;
}

.posConTitle{

    font-weight: 700;
}

.posLineSide{

    width:50%;
    display: inline-block;
}

.checkInput{

    border: none;
    border-radius: 5px;
    background-color: #cccccc;
}

.posCheckBtn{

    background-color: rgb(174, 230, 63);
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 30px;
    width: 70px;
    height: 25px;
}

.posCheckBtn:hover{

    cursor: pointer;
}

.posDuty{

    word-break: break-all;
    margin-left: 15px;
    margin-top: 15px;
    line-height: 25px;
}

.posDuty p{

    font-weight: 700;

}

.posRequire{

    word-break: break-all;
    margin-left: 15px;
    margin-top: 15px;
    line-height: 25px;
}

.posRequire p{

    font-weight: 700;

}

.loveCon{

    background-color: #ffffff;
    width:100%;
    position: relative;
}

.loveTitle{

    color: rgb(174, 230, 63);
    padding-left: 5px;
    padding-top: 5px;
}

.loveDetail{

    margin-top: 15px;
    margin-left: 15px;
    padding-bottom: 15px;
    display: inline-block;
    width:50%;
}

.loveChecked{

    display: inline-block;
    width:40%;
}

.loveChecked input{

    height:25px;
    width: 180px;
    border: none;
    border-radius: 5px;
    background-color: #F3F3F3;
    text-align: left;
    color: #A8ADB9;
    text-indent: 20px;


}

.editBtnGroup{

    display: inline-block;
    position: absolute;
    top: 5px;
    right: 25px;
    height: 25px;

}



.editBtnGroup input{

    border:none;
    border-radius: 5px;
    background-color: rgb(174, 230, 63);
    width: 60px;
    text-align: center;
    line-height: 25px;
}

.editBtnGroup input:hover{

    cursor: pointer;
}

.editBtnGroup input:first-child{

    margin-right: 20px;
}

.checkBtnCon{

    background-color: rgb(174, 230, 63);
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 30px;
    width: 70px;
    height: 25px;
}

.editBtnCon{

    position: absolute;
}