
.container{


}

.tableItem{

    width:100%;
}


.leftSide{

    float: left;
    width:400px;
}

.rightSide{

    float: left;
    width: 530px;
    margin-left: 18px;
}

.profile{

    background-color: #ffffff;
    width:100%;
    height:33px;
    line-height: 33px;
}
.profileItem{

    width:30%;
    text-align: center;
    float: left;
    color: #827B7B;

}